{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<body>
<h1>Page d accueil</h1>

<a href="{{ path('app_login') }}" class="btn">se connecter</a>

<a href="{{ path('ajout_utilisateur') }}" class="btn">ajout d 'un utilisateur</a>


</body>
{% endblock %}

