<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>

    {% block title %}Accueil{% endblock %}

    {% block body %}

    {% endblock %}
</head>
<body>
<h1>Page d accueil</h1>




</body>
</html>