<nav>
    <ul>
        <li><a href="" title="Home">Accueil</a></li>
        <li><a href="" title="monProfil">Mon Profil</a></li>
        <li><a href="{{ path('app_logout') }}" title="deconexion">se deconnecter</a></li>

    </ul>

</nav>